.rec{
    height: 200px;
    width: 200px;
    background-color: red;
    transform: rotate(45deg);
    position: relative;
    bottom: -40px;
    margin: auto;
    position: relative;
    left:-240px;


}
.circle_b{
    width: 300px;
    height:250px;
    background-color: black;
   
   
    


    position: relative;
    bottom: -40px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    transform: rotate(160deg);
   
} 

  
.circle_y{
    width:180px;
    height:180px;
    background-color: yellow;
    border-radius: 5000px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle_r{
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius:5000px;
}

.circle_b1{
    width: 300px;
    height:250px;
    background-color: black;
    


   
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    transform: rotate(310deg);
    position:relative;
    left:600px;
    top:-190px;
    right:100px;
}  
  
.circle_y1{
    width:180px;
    height:180px;
    background-color: yellow;
    border-radius: 5000px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle_r1{
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius:5000px;
}
.rec_arc{
  width:300px;
  height:300px;
  background-color:red;
  border-bottom-left-radius: 140px;
  border-bottom-right-radius:140px;
  position:relative;
  left:330px;
  top:-100px;
}